body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--primary-color) 0%, var(--secondary-color) 100%);
    padding: 0 20px;
    text-align: center;
  }
  
.logo {
    margin-bottom: 50px; 
  }
  
.logo img {
    width: 300px;
  }
  
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 300px;
  }
  
.login-input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--secondary-light-color);
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease; /* Suaviza la transición */
}

.login-input::placeholder {
    color: var(--primary-text-color);
}

.login-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px var(--secondary-light-color);
}
  
.forgot-password {
    color: var(--secondary-text-color);
    font-size: 12px;
    margin-top: -10px;
    text-align: center;
    text-decoration: none;
  }
  
  .login-button {
    width: 120px;
    padding: 12px;
    background: linear-gradient(to bottom, var(--primary-color) 25%, var(--secondary-color) 85%);
    color: var(--button-text-color);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}

.login-button:hover {
    background-color: var(--secondary-light-color);
}

.login-input:-webkit-autofill {
  background-color: var(--primary-color) !important;
  color: var(--secondary-light-color) !important;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  transition: background-color 5000s ease-in-out 0s;
}

.login-input:-webkit-autofill::first-line {
  color: var(--secondary-light-color) !important;
}

.login-input:-webkit-autofill-selected,
.login-input:-webkit-autofill-previewed {
  background-color: var(--primary-color) !important;
  color: var(--secondary-light-color) !important;
  font-size: 16px;
  transition: background-color 0s, color 0s; /* Elimina el efecto de parpadeo */
}
  
  /* Media query for desktop (screens wider than 768px) */
  @media (min-width: 768px) {
    .login-container {
      padding: 0 40px;
    }
  
    .logo img {
      width: 500px;
    }
    .logo {
      margin-bottom: 70px;
    }
  
    .login-form {
      max-width: 400px;
    }
  
    .login-input {
      padding: 15px;
      font-size: 18px;
    }
  
    .login-button {
      width: 150px;
      padding: 14px;
      font-size: 18px;
    }
  }
  
.login-container .error {
  color: red;
}

.input-password {
  position: relative;
  width: 100%;
}

.see-password-button{
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: var(--primary-text-color);
}

.see-password-button svg{
  display: block;
}