*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-container{
  display: flex;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5cYRBSs0WvCjLui5WocgZYuS3E9DZDRf4xQ&s");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.login-form h1{
  display: flex;
  font-size: 40px;
  justify-content: center;
  text-shadow: black 1px 1px;
  margin: 10px;
}

.login-form .title-j{
  color: #B12424;
}

.logo {
  margin-bottom: 10px; 
}

.login-form img {
  width: 50%;
  margin-left: 85px;
}

.login-form label{
  display: flex;
  font-size: 30px;
  text-shadow: black 2px 2px;
  margin: 12px;
  justify-content: start;
}

.login-form input{
  width: 270px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  margin: 12px;
}

.forgot-password{
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 50px;
  margin-left: 150px;
}

.login-button{
  justify-content: center;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #B12424;
  color: white;
  margin: 30px;
  cursor: pointer;
  margin-left: 80px;

}



