body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /*background-color: rgba(153, 139, 139, 0.9);*/
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5cYRBSs0WvCjLui5WocgZYuS3E9DZDRf4xQ&s");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-input {
  width: 100%;
  padding: 12px;
  text-align: start;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

.input-password {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px;
  text-align: start;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

.see-password-button {
  border: none;
}

.forgot-password {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.error {
  color: rgb(90, 10, 10);
  font-size: 20px;
  font-weight: bold;
}

.login-button {
  width: 120px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  background-color: #FC3D3D;
}