.supplier-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90%;
  padding: 1.2rem;
  gap: 1.2rem;
  overflow-y: scroll;
}

.supplier-page-content .cards-container {
  padding: 10px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to bottom, #c74848 0%, #722626 100%);
}

