.supplier-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90%;
  padding: 1.2rem;
  gap: 1.2rem;
  overflow-y: scroll;
}

.supplier-page-content .cards-container {
  padding: 0px 1.2rem;
}

.edit-supplier-form {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  max-height: 90vh;
  margin: 0 auto;
  overflow-y: scroll;
}

.form {
  color: var(--primary-text-color);
}

.edit-supplier-form h2 {
  margin-bottom: 20px;
  color: var(--secondary-light-color);
}

.create-supplier-form {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  margin: 0 auto;
}

.create-supplier-form form {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.create-supplier-form .form-actions {
  margin-top: 0px;
}

.create-supplier-form label {
  margin-right: 0.8rem;
}

.create-supplier-form select,
.create-supplier-form input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-supplier-form .MuiTextField-root {
  width: 100%;
}

.scrollable-select {
  max-height: 150px;
  overflow-y: auto;
}

.modal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-list__item {
  background-color: var(--shadow-card);
  padding: 15px 20px;
  border-bottom: 1px solid var(--secondary-light-color);
}

.modal-description {
  margin: 20px;
  color: var(--secondary-text-color);
}

.modal-list-item:last-child {
  border-bottom: none;
}

.modal-supplier__name {
  color: var(--primary-text-color);
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.modal-supplier__cuit {
  font-size: 14px;
  color: var(--description-text-color);
  display: block;
  margin-bottom: 3px;
}

.modal-supplier__mail {
  font-size: 14px;
  color: #2980b9;
  word-wrap: break-word;
  display: block;
}

.modal-supplier__precio {
  font-size: 14px;
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 3px;
}

.modal-empty {
  font-size: 16px;
  color: #e74c3c;
  text-align: center;
  padding: 20px;
}

.form select {
  background-color: var(--primary-color);
  color: var(--secondary-light-color);
  border: 1px solid var(--secondary-light-color);
  border-radius: 8px;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.form select option {
  color: var(--secondary-light-color);
  background-color: var(--primary-color);
}

.form select:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px var(--secondary-light-color);
}

.form input {
  color: var(--secondary-light-color);
  background-color: var(--primary-color);
}

.supplier-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 10px 0 0 0;
  width: 90%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .supplier-header {
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    width: 90%;
    margin-bottom: 10px;
  }
}

.category-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.category-tag {
  border-radius: 10px;
  border: 1px solid var(--secondary-light-color);
  padding: 0.4rem;
  display: flex;
  gap: 0.8rem;
  width: fit-content;
}

.category-tag button {
  color: var(--secondary-light-color);
}

.create-supplier-btn {
  padding: 10px;
  background: green;
  color: white;
  border-radius: 5px;
}