.form-group {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.select {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--secondary-light-color);
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.form-group label {
  color: var(--secondary-text-color)
}

select:focus {
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: var(--box-shadow);
}