.label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary-light-color);
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
  background-color: var(--primary-color);
  color: var(--secondary-light-color);
}

.input:-webkit-autofill {
  background-color: var(--primary-color) !important;
  color: var(--secondary-light-color) !important;
  border: 1px solid var(--secondary-light-color) !important;
  font-size: 16px;
  border: none;
  transition: background-color 5000s ease-in-out 0s;
}

.input:-webkit-autofill::first-line {
  color: var(--secondary-light-color) !important;
  border: 1px solid var(--secondary-light-color);
}

.input:-webkit-autofill-selected,
.input:-webkit-autofill-previewed {
  background-color: var(--primary-color) !important;
  color: var(--secondary-light-color) !important;
  border: 1px solid var(--secondary-light-color);
  font-size: 16px;
  transition: background-color 0s, color 0s; /* Elimina el efecto de parpadeo */
}

.input:disabled {
  background-color: var(--primary-color-disabled);
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: var(--box-shadow);
}

.input::placeholder {
  color: var(--secondary-light-color);
}

.input:invalid {
  border-color: #dc3545;
}

.input:invalid:focus {
  box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.25);
}

@media screen and (min-width: 1200px) {
  .form-group[data-fullwidth="true"]{
    display: flex;
    justify-content: space-between;
  }

  .form-group[data-fullwidth="true"] .input {
    width: 80%
  }
}